/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* VARIABLES */
/* line 5, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* responsive */
/* line 1, ../sass/_mobile.scss */
*, *:before, *:after {
  box-sizing: border-box;
}

/* line 5, ../sass/_mobile.scss */
body, html {
  max-width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* line 10, ../sass/_mobile.scss */
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: #313a46;
  color: white;
}

/* line 18, ../sass/_mobile.scss */
a {
  text-decoration: none;
  color: #939EA7;
}

/* line 23, ../sass/_mobile.scss */
input {
  border: none;
  background: none;
  color: #656565;
  font-size: 1.2em;
}

/* line 30, ../sass/_mobile.scss */
.btn, #profil form input, #search input {
  display: block;
  padding: 10px;
  background: white;
  color: black;
}

/* line 37, ../sass/_mobile.scss */
header {
  background: #313a46;
  text-align: center;
  color: white;
}
/* line 41, ../sass/_mobile.scss */
header h1 {
  padding: 10px;
}

/* line 46, ../sass/_mobile.scss */
#profil {
  padding: 10px;
}
/* line 48, ../sass/_mobile.scss */
#profil a {
  display: block;
  padding: 10px;
}
/* line 53, ../sass/_mobile.scss */
#profil form input {
  padding: 10px;
  margin: 10px auto;
}

/* line 61, ../sass/_mobile.scss */
#search {
  text-align: center;
}
/* line 63, ../sass/_mobile.scss */
#search input {
  display: inline-block;
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  vertical-align: middle;
  border: 2px solid #313a46;
  background: #FFF;
}
/* line 73, ../sass/_mobile.scss */
#search select {
  display: inline-block;
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  border: 2px solid #313a46;
  background: #313a46;
  color: white;
}
/* line 81, ../sass/_mobile.scss */
#search select option {
  background: white;
  color: #313a46;
}

/* line 88, ../sass/_mobile.scss */
.info {
  text-align: center;
  padding: 10px;
}

/* line 93, ../sass/_mobile.scss */
#listObj {
  width: 100%;
}
/* line 95, ../sass/_mobile.scss */
#listObj li {
  display: block;
  width: 100%;
  min-height: 375px;
  overflow: hidden;
  margin-bottom: 20px;
  background: #313a46;
  border: 2px solid #313a46;
}
/* line 103, ../sass/_mobile.scss */
#listObj li h3 {
  padding: 20px;
  background: #FFF;
}
/* line 106, ../sass/_mobile.scss */
#listObj li h3 a {
  color: #313a46;
}
/* line 110, ../sass/_mobile.scss */
#listObj li img {
  width: 100%;
}
/* line 113, ../sass/_mobile.scss */
#listObj li .infosObj {
  padding: 10px;
  color: #FFF;
}
/* line 116, ../sass/_mobile.scss */
#listObj li .infosObj p {
  margin: 10px;
}

/* line 124, ../sass/_mobile.scss */
#presObj img {
  max-width: 100%;
}
/* line 127, ../sass/_mobile.scss */
#presObj p {
  padding: 10px;
}
/* line 130, ../sass/_mobile.scss */
#presObj .btn, #presObj #profil form input, #profil form #presObj input, #presObj #search input, #search #presObj input {
  display: inline-block;
  width: 100%;
  border: 2px solid #313a46;
  margin-top: 10px;
  text-align: center;
}
/* line 137, ../sass/_mobile.scss */
#presObj h3 {
  padding: 20px;
  background: #313a46;
  color: #FFF;
}

/* line 145, ../sass/_mobile.scss */
.formInscr input, #formAjout input {
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #313a46;
}
/* line 151, ../sass/_mobile.scss */
.formInscr label, #formAjout label {
  display: block;
  margin: 5px auto;
  padding: 10px;
  width: 40%;
  text-align: center;
}

/* line 162, ../sass/_mobile.scss */
#formAjout textarea, #formAjout select {
  display: block;
  margin: 10px auto;
  padding: 20px;
  border: 2px solid #313a46;
}

/* line 170, ../sass/_mobile.scss */
#pagination {
  background: #313a46;
  text-align: center;
  padding: 10px;
}
/* line 174, ../sass/_mobile.scss */
#pagination a {
  color: #FFF;
  margin-left: 10px;
}

/* line 180, ../sass/_mobile.scss */
table {
  margin: 0 auto;
  width: 80%;
}
/* line 184, ../sass/_mobile.scss */
table tr td, table tr th {
  text-align: center;
  border: 2px solid #313a46;
  padding: 10px;
}

@media screen and (min-width: 650px) {
  /* line 3, ../sass/_tablet.scss */
  .btn, #profil form input, #search input {
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  /* line 5, ../sass/_tablet.scss */
  .btn:hover, #profil form input:hover, #search input:hover {
    background: #313a46;
    color: #FFF;
  }

  /* line 11, ../sass/_tablet.scss */
  #listObj {
    text-align: center;
  }
  /* line 13, ../sass/_tablet.scss */
  #listObj li {
    display: inline-block;
    width: 40%;
    vertical-align: top;
  }

  /* line 20, ../sass/_tablet.scss */
  #presObj {
    text-align: center;
  }
  /* line 22, ../sass/_tablet.scss */
  #presObj .btn, #presObj #profil form input, #profil form #presObj input, #presObj #search input, #search #presObj input {
    display: inline-block;
    width: 25%;
    margin-left: -4px;
  }
}
@media screen and (min-width: 1150px) {
  /* line 3, ../sass/_desktop.scss */
  #listObj li {
    width: 20%;
  }

  /* line 8, ../sass/_desktop.scss */
  #presObj {
    text-align: center;
  }
  /* line 10, ../sass/_desktop.scss */
  #presObj p {
    padding: 10px;
  }
  /* line 13, ../sass/_desktop.scss */
  #presObj h3 {
    padding: 20px;
    background: #313a46;
    color: #FFF;
  }
  /* line 18, ../sass/_desktop.scss */
  #presObj img {
    max-width: 50%;
  }
}
